.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.decoration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.decoration::before,
.decoration::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin: 0 5px;
  border-radius: 50%;
}

.slider-container {
  width: 80%;
  max-width: 600px;
  margin-top: 200px;
}

.slider-container img {
  max-width: 100%;
  height: auto;
  display: block;
}
